.name-heading-text{
    padding:2%;
    border-color:black;
    border-width: 2%;
    margin:2%;
    font-size:400%;
    font-family: 'Merriweather', serif;
}
.name-heading{
    width: 100%;
    height: 90vh;
    text-align: center;
}